@model System.Web.Mvc.HandleErrorInfo
@{ 
    Layout = null;
    ViewBag.Title = "Error";
}
<div>
    <span>Error</span>
</div>
<div>
    <div>
        An unexpected error has occured. Please contact the system administrator.
    </div>
</div>