
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>Youth Futures Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/Scripts/404Script.js"></script>
    <link href="/Content/bootstrap.css" rel="stylesheet">
    <link href="/Content/site.css" rel="stylesheet">

    <script src="/Scripts/modernizr-2.6.2.js"></script>

</head>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>NotFound</title>
</head>
<body>
    <h1 align="center"> 
            404
    </h1>
    <h4 align="center">
        Page Not Found
    </h4>
    <hr />
    <h6 align="center">
        <font size="5">
            The page you are looking for does not exist or another error occurred.
        </font>
    </h6>
    <h6 align="center">
        <font size="5">
            For Youth Futures home page click <a href="/Home/Index">here</a>.
        </font>
    </h6>
</body>
</html>
