@{
    ViewBag.Title = "Donate";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <title>Login</title>

    <meta name="description" content="Youth Futures Donate Page" />
    <meta name="keywords" content="keywords" />
    <meta name="viewport" content="width:=device-width, initial-scale=1" />

    <link rel="stylesheet" href="~/Content/secondaryStyles.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/fonts.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/main.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">

    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">

    </script>
</head>
<body>
    <div> 
        <p style="position:absolute; top:500px;">Donate</p>
    </div>
    <footer>

        <div class="container-fluid foot_cont">

            <div class="row foot">

                <section class="col-sm-12 col-md-2 contact">

                    <p class="quick_bold_18_white">Contact</p>
                    <p class="mont_light_14_white">Email: info@yfut.org<br>Phone: 801-528-1214</p>

                </section>

                <section class="col-sm-12 col-md-2 mailing">


                    <p class="quick_bold_18_white">Mailing Address</p>
                    <p class="mont_light_14_white">Youth Futures</p>
                    <p class="mont_light_14_white">POB 160301</p>
                    <p class="mont_light_14_white">Clearfield, UT 84016</p>

                </section>

                <section class="col-sm-12 col-md-2 shelter">

                    <p class="quick_bold_18_white">Shelter Address</p>
                    <p class="mont_light_14_white">Youth Futures</p>
                    <p class="mont_light_14_white">2760 S. Adams Ave</p>
                    <p class="mont_light_14_white">Ogden, UT 84403</p>

                </section>

                <section class="col-sm-12 col-md-2 foot_logo">

                    <img title="house icon" alt="house icon" src="resources/page_1.png">

                </section>

                <section class="col-sm-12 col-md-4 social">

                    <img title="house icon" alt="house icon" src="resources/social_instagram.png">
                    <img title="house icon" alt="house icon" src="resources/social_twitter.png">
                    <img title="house icon" alt="house icon" src="resources/social_tumblr.png">
                    <img title="house icon" alt="house icon" src="resources/social_fb.png">

                </section>

            </div>


            <div class="copyright mont_regular_16_lightgray">
                <p>© Youth Futures, Inc.</p>
            </div>

        </div>
    </footer>
</body>
</html>
