@{
    ViewBag.Title = "Donate";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <title>Login</title>

    <meta name="description" content="Youth Futures Donate Page" />
    <meta name="keywords" content="keywords" />
    <meta name="viewport" content="width:=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Site.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">

    </script>
</head>
<body>
    <div id="main-body" contenteditable="false"></div>

    <div class="container-fluid" id="donateMain">

        <div class="row donor_header">

            <div class="col-xs-6 text">

                <h2 class="h2style1">Donate</h2>

            </div>

        </div>

        <div class="row donate_help">

            <div class="col-xs-12">

                <p>HOW CAN YOU HELP?</p>

            </div>

        </div>

        <div class="row media_text">

            <div class="col-xs-12">

                <p class="mont_regular_22_darkgray">	Your generosity helps keep the doors open and the lights on, providing a sanctuary for those in need. Please consider a donation. </p>


            </div>

        </div>


        <section class="row more">

            <div class="col-xs-12 col-lg-4 more_volunteer">


                <img src="~/resources/dollar.png" title="Dollar" alt="Dollar">

                <p class="vol_p mont_light_18_darkgray">Monetary donations are our biggest need right now. Recurring <span class="green"><a href="#">PayPal</a></span> donations can be scheduled from our website, even $10 makes a difference. </p>

            </div>

            <div class="col-xs-12 col-lg-4 more_stories">

                <img src="~/resources/cart.png" title="Cart" alt="Cart">

                <p class="youth_p mont_light_18_darkgray">
                    Donate through rewards programs: <span class="green"><a href="#">Amazon Smile,</a></span> <span class="green"><a href="#">Smiths Community Rewards,</a></span> or <span class="green"><a href="#">United Way,</a></span> <span class="green"><a href="#">Federal and State Employee contributions,</a></span>
                    <span class="green"><a href="#">LoveUTGiveUT</a></span>
                </p>

            </div>

            <div class="col-xs-12 col-lg-4 more_events">

                <img src="~/resources/hand.png" title="Hand" alt="Hand">

                <p class="events_p mont_light_18_darkgray">Donate your time as a volunteer to help with needs around the shelter! <span class="green"><a href="#">Sign up here.</a></span></p>

            </div>

        </section>


    </div>

    <div class="container-fluid needs">

        <div class="row donate_help">

            <div class="col-xs-12">

                <p>LIST OF NEEDS</p>

            </div>

        </div>

        <div class="row">

            <div class="col-xs-12 col-md-4 needs_list first">

                <p class="needs_subheader">
                    MOST IMPORTANT NEEDS
                    (In order of priority)
                </p>
                <ul>
                    <li>Cash donations</li>
                    <li>Printer Paper</li>
                    <li>Canned meat & Jerky</li>
                    <li>Scotch tape</li>
                    <li>Bus tokens or passes</li>
                    <li>Earbud Headphones</li>
                    <li>Cinch bags</li>
                    <li>Batteries</li>
                    <li>Sweat Pants</li>
                    <li>Pajama Bottoms </li>
                    <li>Sports bras</li>
                    <li>Trail mix individuals</li>
                    <li>Toilet Paper</li>
                    <li>Condoms</li>
                    <li>Tampons	</li>
                    <li>Carabiners</li>
                    <li>Paper plates and cups</li>
                    <li>Men's and Women's Underwear</li>
                    <li>Socks </li>
                    <li>Kleenex individuals</li>
                    <li>Undershirts, S M L XL</li>
                    <li>Garbage bags 30 Gallon</li>
                    <li>Garbage sacks small    bathroom</li>
                    <li>Lip balm</li>
                    <li>Ziploc bags, quart and gallon</li>
                    <li>Energy Bars</li>
                    <li>Heavy duty plastic storage bins that won't melt if heated in shed</li>
                </ul>

            </div>


            <div class="col-xs-12 col-md-4 needs_list">

                <p class="needs_subheader">MISC. NEEDS</p>
                <ul>
                    <li>Minivan</li>
                    <li>NEW Printer</li>
                </ul>

                <p class="needs_subheader">GIFT CARDS FOR</p>
                <ul>
                    <li>Walmart</li>
                    <li>Fun things to do</li>
                    <li>Grocery store</li>
                    <li>Maverick</li>
                    <li>Restaurants</li>
                    <li>Movies</li>
                    <li>Bus passes or tokens</li>
                    <li>Phone minutes </li>
                    <li>Beauty salons/haircuts</li>
                    <li>For shoe stores</li>
                    <li>Lagoon passes</li>
                </ul>

            </div>

            <div class="col-xs-12 col-md-4 needs_list">

                <p class="needs_subheader">HOUSEHOLD FURNISHINGS NEEDS</p>
                <ul>
                    <li>NEW pots and pans</li>
                    <li>New Couches</li>
                </ul>

                <p class="needs_subheader">VOLUNTEERS</p>
                <ul>
                    <li>Mentors</li>
                    <li>Educators</li>
                    <li>Group activity facilitators</li>
                    <li>Meal preparers/providers</li>
                    <li>Tutors</li>
                    <li>Life skills trainers</li>
                    <li>Beauticians</li>
                    <li>Street Outreach Workers</li>
                    <li>Artists for classes</li>
                    <li>Yard work</li>
                    <li>Interior painters</li>
                </ul>

                <p class="needs_subheader">REPAIR NEEDS</p>
                <ul>
                    <li>Concrete or pavers 1500 sq. feet</li>
                    <li>Cement sidewalk repair& labor</li>
                </ul>

            </div>



        </div>

    </div>

    <div class="container-fluid" id="donorsMain">

        <div class="row donor_header">

            <div class="col-xs-6 text">

                <h2 class="h2style1">Donors</h2>

            </div>

        </div>

    </div>

    <div class="container-fluid">

        <div class="row donor_subheader">

            <div class="col-xs-12 ">

                <p class="title_plat">Plantinum Level Donors</p>

            </div>

        </div>

    </div>

    <div class="container-fluid">

        <div class="row donor_list">

            <div class="col-xs-4 donor_box plat">

                <p class="donor_name">MILLER FAMILY FOUNDATION LARRY H. & GAIL</p>
                <p class="year">2015 & 2016</p>

            </div>

            <div class="col-xs-4 donor_box plat">

                <p class="donor_name">IVY LANE PEDIATRICS</p>
                <p class="year">2016</p>

            </div>

            <div class="col-xs-4 donor_box plat">

                <p class="donor_name">SORENSON LEGACY FOUNDATION</p>
                <p class="year">2015</p>

            </div>

        </div>

    </div>

    <div class="container-fluid">

        <div class="row donor_list">

            <div class="col-xs-4 donor_box plat">

                <p class="donor_name">MILLER FAMILY FOUNDATION LARRY H. & GAIL</p>
                <p class="year">2015 & 2016</p>

            </div>

            <div class="col-xs-4 donor_box plat">

                <p class="donor_name">IVY LANE PEDIATRICS</p>
                <p class="year">2016</p>

            </div>

            <div class="col-xs-4 donor_box plat">

                <p class="donor_name">SORENSON LEGACY FOUNDATION</p>
                <p class="year">2015</p>

            </div>

        </div>

    </div>

    <div class="container-fluid">

        <div class="row donor_subheader">

            <div class="col-xs-12 ">

                <p class="title_gold">Gold Level Donors</p>

            </div>

        </div>

    </div>

    <div class="container-fluid">

        <div class="row donor_list">

            <div class="col-xs-4 donor_box gold">

                <p class="donor_name">MILLER FAMILY FOUNDATION LARRY H. & GAIL</p>
                <p class="year">2015 & 2016</p>

            </div>

            <div class="col-xs-4 donor_box gold">

                <p class="donor_name">IVY LANE PEDIATRICS</p>
                <p class="year">2016</p>

            </div>

            <div class="col-xs-4 donor_box gold">

                <p class="donor_name">SORENSON LEGACY FOUNDATION</p>
                <p class="year">2015</p>

            </div>

        </div>

    </div>

    <div class="container-fluid">

        <div class="row donor_list">

            <div class="col-xs-4 donor_box gold">

                <p class="donor_name">MILLER FAMILY FOUNDATION LARRY H. & GAIL</p>
                <p class="year">2015 & 2016</p>

            </div>

            <div class="col-xs-4 donor_box gold">

                <p class="donor_name">IVY LANE PEDIATRICS</p>
                <p class="year">2016</p>

            </div>

            <div class="col-xs-4 donor_box gold">

                <p class="donor_name">SORENSON LEGACY FOUNDATION</p>
                <p class="year">2015</p>

            </div>

        </div>

    </div>

    <div class="container-fluid">

        <div class="row donor_subheader">

            <div class="col-xs-12 ">

                <p class="title_silver">Silver Level Donors</p>

            </div>

        </div>

    </div>

    <div class="container-fluid">

        <div class="row donor_list">

            <div class="col-xs-4 donor_box silver">

                <p class="donor_name">MILLER FAMILY FOUNDATION LARRY H. & GAIL</p>
                <p class="year">2015 & 2016</p>

            </div>

            <div class="col-xs-4 donor_box silver">

                <p class="donor_name">IVY LANE PEDIATRICS</p>
                <p class="year">2016</p>

            </div>

            <div class="col-xs-4 donor_box silver">

                <p class="donor_name">SORENSON LEGACY FOUNDATION</p>
                <p class="year">2015</p>

            </div>

        </div>

    </div>

    <div class="container-fluid">

        <div class="row donor_list">

            <div class="col-xs-4 donor_box silver">

                <p class="donor_name">MILLER FAMILY FOUNDATION LARRY H. & GAIL</p>
                <p class="year">2015 & 2016</p>

            </div>

            <div class="col-xs-4 donor_box silver">

                <p class="donor_name">IVY LANE PEDIATRICS</p>
                <p class="year">2016</p>

            </div>

            <div class="col-xs-4 donor_box silver">

                <p class="donor_name">SORENSON LEGACY FOUNDATION</p>
                <p class="year">2015</p>

            </div>

        </div>

    </div>

    <div class="container-fluid">

        <div class="row donor_subheader">

            <div class="col-xs-12 ">

                <p class="title_bronze">Bronze Level Donors</p>

            </div>

        </div>

    </div>

    <div class="container-fluid">

        <div class="row donor_list">

            <div class="col-xs-4 donor_box bronze">

                <p class="donor_name">MILLER FAMILY FOUNDATION LARRY H. & GAIL</p>
                <p class="year">2015 & 2016</p>

            </div>

            <div class="col-xs-4 donor_box bronze">

                <p class="donor_name">IVY LANE PEDIATRICS</p>
                <p class="year">2016</p>

            </div>

            <div class="col-xs-4 donor_box bronze">

                <p class="donor_name">SORENSON LEGACY FOUNDATION</p>
                <p class="year">2015</p>

            </div>

        </div>

    </div>

    <div class="container-fluid">

        <div class="row donor_list bronze">

            <div class="col-xs-4 donor_box bronze">

                <p class="donor_name">MILLER FAMILY FOUNDATION LARRY H. & GAIL</p>
                <p class="year">2015 & 2016</p>

            </div>

            <div class="col-xs-4 donor_box bronze">

                <p class="donor_name">IVY LANE PEDIATRICS</p>
                <p class="year">2016</p>

            </div>

            <div class="col-xs-4 donor_box bronze">

                <p class="donor_name">SORENSON LEGACY FOUNDATION</p>
                <p class="year">2015</p>

            </div>

        </div>

    </div>

    <footer>

        <div class="container-fluid foot_cont">

            <div class="row foot">

                <section class="col-sm-12 col-md-2 contact">

                    <p class="quick_bold_18_white">Contact</p>
                    <p class="mont_light_14_white">Email: info@yfut.org<br />Phone: 801-528-1214</p>

                </section>

                <section class="col-sm-12 col-md-2 mailing">


                    <p class="quick_bold_18_white">Mailing Address</p>
                    <p class="mont_light_14_white">Youth Futures</p>
                    <p class="mont_light_14_white">POB 160301</p>
                    <p class="mont_light_14_white">Clearfield, UT 84016</p>

                </section>

                <section class="col-sm-12 col-md-2 shelter">

                    <p class="quick_bold_18_white">Shelter Address</p>
                    <p class="mont_light_14_white">Youth Futures</p>
                    <p class="mont_light_14_white">2760 S. Adams Ave</p>
                    <p class="mont_light_14_white">Ogden, UT 84403</p>

                </section>

                <section class="col-sm-12 col-md-2 foot_logo">

                    <img src="~/resources/page-1.png" title="house icon" alt="house icon">

                </section>

                <section class="col-sm-12 col-md-4 social">

                    <img src="~/resources/social_instagram.png" title="house icon" alt="house icon">
                    <img src="~/resources/social_twitter.png" title="house icon" alt="house icon">
                    <img src="~/resources/social_tumblr.png" title="house icon" alt="house icon">
                    <img src="~/resources/social_fb.png" title="house icon" alt="house icon">

                </section>

            </div>


            <div class="copyright mont_regular_16_lightgray">
                <p>© Youth Futures, Inc.</p>
            </div>

        </div>
    </footer>
</div>
</body>
</html>
