@{
    ViewBag.Title = "Donate";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Donate</title>
</head>
<body>
    <div> 
        <p style="position:absolute; top:500px;">Donate</p>
    </div>
</body>
</html>
