@{
    ViewBag.Title = "Involved";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="position:absolute; top:500px;">
        <p>Getting involved</p>
    </div>
</body>
</html>
