@{
    ViewBag.Title = "Involved";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <title>Login</title>

    <meta name="description" content="Youth Futures Involved Page" />
    <meta name="keywords" content="keywords" />
    <meta name="viewport" content="width:=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">

    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">

    </script>
</head>
<body>
    <div style="position:absolute; top:500px;">
        <p>Getting involved</p>
    </div>
</body>
</html>
