@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div> 
        <ps tyle="position:absolute; top:500px;"> Login </pstyle="position:absolute;>
    </div>
</body>
</html>
