@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <title>Login</title>

    <meta name="description" content="Youth Futures Login Page" />
    <meta name="keywords" content="keywords" />
    <meta name="viewport" content="width:=device-width, initial-scale=1" />
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/secondaryStyles.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/main.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/fonts.css" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">

    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">

    </script>

</head>

<body>
    <h3>@ViewBag.Title</h3>
    <h3>@ViewBag.Message</h3>
    <!--Log in page form-->
    <div class="text-center">
        <form action="/">
            <div class="container">
                <label><b>Username</b></label>
                <input type="text" placeholder="Username" name="uname" required>

                <label><b>Password</b></label>
                <input type="password" placeholder="Password" name="psw" required>

                <button type="submit">Login</button>
                <input type="checkbox" checked="checked"> Remember me
            </div>

            <div id="site-color">
                <button type="button" class="cancelbtn">Cancel</button>
                <button type="button" class="forgotPassbtn">Forgot Password?</button>
            </div>
        </form>
    </div>
    <footer class="container-fluid">
        <div class="row clear">
            <section class="col-xs-6 col-sm-4 col-md-2 footer-section">
                <p class="quicksand-dark-18-white">Contact</p>
                <p class="mont-light-dark-14-email">Email: info@yfut.org</p>
                <p class="mont-light-dark-14-email">
                    Phone:
                    <tel>801-528-1214</tel>
                </p>
            </section>
            <section class="col-xs-6 col-sm-4 col-md-2 footer-section">
                <p class="quicksand-dark-18-white">Mailing Address</p>
                <p class="mont-light-dark-14-email">Youth Futures<br /> POB 160301<br /> Clearfield, UT 84016</p>
            </section>
            <section class="col-xs-6 col-sm-4 col-md-2 footer-section">
                <p class="quicksand-dark-18-white">Shelter Address</p>
                <p class="mont-light-dark-14-email">Youth Futures<br /> 2760 S. Adams Ave<br /> Ogden, UT 84403</p>
            </section>
            <section class="col-xs-6 col-sm-4 col-md-2 footer-section">
                <img src="~/resources/page-1.png" alt="Home Image" class="footer-home" />
            </section>
            <section class="col-xs-10 col-xs-offset-1
                            col-sm-6 col-md-4 col-sm-offset-0 footer-section">
                <div class="social-media">
                    <a href="#"><img src="~/resources/social_instagram.png" alt="Instagram" /></a>
                    <a href="#"><img src="~/resources/social_twitter.png" alt="Twitter" /></a>
                    <a href="#"><img src="~/resources/social_tumblr.png" alt="Tumbler" /></a>
                    <a href="#"><img src="~/resources/social_fb.png" alt="Facebook" /></a>
                </div>
            </section>
        </div>
        <div class="copyright">
            <p class="mont-regular-dark-16-grey">© Youth Futures, Inc.</p>
        </div>
    </footer>
</body>
</html>
