@{
    ViewBag.Title = "Programs";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <title>Porgrams</title>

    <meta name="description" content="Youth Futures Programs Page" />
    <meta name="keywords" content="keywords" />
    <meta name="viewport" content="width:=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">

    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">

    </script>
</head>
<body>
    <body>
        <div id="main-body">
            <div>
                <div>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
            </div>
            <section class="outreachpic">
                <div class="row">
                    <div class="col-xs-12 header-box">
                        <div class="row program-title">
                            <h1 class="h2-white">STREET</h1>
                            <h1 class="h2-green">OUTREACH</h1>
                        </div>
                    </div>
                </div>
            </section>
            <section id="header">
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-11">
                        <p class="green-header">
                            <span class="mont-semibold-dark-36 have-questions-heading">Have questions? Send us a text!</span>
                            <span class="quicksand-dark-36-main"> (801) 528-1214</span>
                        </p>
                    </div>
                </div>
            </section>
    </body>
</html>
