@{
    ViewBag.Title = "Programs";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <title>Porgrams</title>

    <meta name="description" content="Youth Futures Programs Page" />
    <meta name="keywords" content="keywords" />
    <meta name="viewport" content="width:=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">

    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">

    </script>
</head>
<body>
            <section class="container-fluid outreachpic">
                    <div class="col-xs-12">
                        <div class="program-title row">
                            <h2 class="h2-white">STREET</h2>
                            <h2 class="h2-green">OUTREACH</h2>
                        </div>
                    </div>
            </section>
    <div>
        <div class="container-fluid">
            <div class="row outreach_text" }="" <section="">
				<p class="mont_regular_22_darkgray">Street Outreach is designed to meet the clients where they are on the street to build rapport and encourage youth to access drop-in and shelter services. This program offers, case management, hygiene items, food, sleeping bags, and other essential items as needed. Street Outreach currently take place once per week on Wednesdays. The team visits the same Ogden, Utah locations every week:</p>
            </div>
            <div class="container-fluid">

            <div class="row outreach_bullet">
            <section class="col-xs-12 col-md-6">
                <ul>
                    <li>Jefferson Park</li>
                    <li>Marchall White Center Park</li>
                    <li>Lorin Farr Skate Park</li>
                        </ul>
                       
                    </section>

                    <section class="col-xs-12 col-md-6">

                        <ul>
                            <li>Basketball Court at Bonneville Park</li>
                            <li>Under the Ogden River Bridge (sporadic)</li>
                            <li>Lantern House Homeless Shelter</li>
                            <ul></ul>
                        </ul>
                    </section>

                </div>

            </div>

        </div>
    </div>
    </body>
</html>
