@{
    ViewBag.Title = "Programs";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Programs</title>
</head>
<body>
    <div> 
        <p> Test bed test Brad</p>
    </div>
</body>
</html>
