@{
    ViewBag.Title = "YouthStories";
}


<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <title>YouthStories</title>

    <meta name="description" content="Youth Stories Page" />
    <meta name="keywords" content="keywords" />
    <meta name="viewport" content="width:=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Site.css" />

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    @Html.Raw(ViewBag.HTMLContent)
    <!-- <h2 align="center">
        Youth Stories
    </h2>
    <div id="story-list" style="text-align:center;">

    </div>
    <div style="width: 500px; margin: auto;">
        <textarea id="story-ta" cols="70" rows="5"></textarea>
    </div>
    <div class="btn-con" style="width: 183px; margin: auto;">
        <button onclick="addStory()" align="center">
            <h6>
                Add Story
            </h6>
        </button>
    </div>
        -->
</body>
</html>
